## Анализ набора данных с использованием `pandas`

### Загрузка данных и первичный обзор

В этом задании мы будем работать с набором данных `gapminder`, который содержит информацию о различных странах и их показателях развития. Мы будем использовать библиотеку Pandas для базового анализа данных.

In [2]:
import pandas as pd
gapminder_data = pd.read_csv('gapminder.csv')

Выведите информацию о первых 10 записях набора данных:

In [3]:
gapminder_data.head(10)

,country,region,income,income_level,life_exp,co2,co2_change,population
0,Afghanistan,Asia,2.03,Level 1,62.7,0.254,increase,37.2000
1,Albania,Europe,13.30,Level 3,78.4,1.590,increase,2.8800
2,Algeria,Africa,11.60,Level 3,76.0,3.690,increase,42.2000
3,Andorra,Europe,58.30,Level 4,82.1,6.120,decrease,0.0770
4,Angola,Africa,6.93,Level 2,64.6,1.120,decrease,30.8000
5,Antigua and Barbuda,Americas,21.00,Level 3,76.2,5.880,increase,0.0963
6,Argentina,Americas,22.70,Level 3,76.5,4.410,decrease,44.4000
7,Armenia,Europe,12.70,Level 3,75.6,1.890,decrease,2.9500
8,Australia,Asia,49.00,Level 4,82.9,16.900,decrease,24.9000
9,Austria,Europe,55.30,Level 4,82.1,7.750,decrease,8.8900

Выведите информацию о количестве записей и столбцов в наборе данных:

In [4]:
gapminder_data.shape

(193, 8)

In [5]:
print('Строки',len(gapminder_data),'Колонки', len(gapminder_data.columns))

Строки 193 Колонки 8

Произведите группировку данных по региону сохраните значение в переменной `region_means` содержащей усредненные значения по показателям `income`, `life_exp`, `co2`, `population`:

In [6]:
gapminder_data.groupby('region')['income'].mean()

region
Africa       5.733426
Americas    18.022857
Asia        20.477627
Europe      38.120000
Name: income, dtype: float64

In [7]:
gapminder_data.groupby('region')[['income', 'life_exp', 'co2', 'population']].mean()

             income   life_exp       co2  population
region
Africa     5.733426  65.277778  1.213459   23.597094
Americas  18.022857  75.240000  4.204057   28.597837
Asia      20.477627  72.779661  6.282186   76.264483
Europe    38.120000  78.866667  6.344000   18.812778

Отобразите список уникальных регионов, присутствующих в данных:

In [8]:
gapminder_data['region'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas'], dtype=object)

Выведите список стран, входящих в регион 'Europe':

In [9]:
gapminder_data[gapminder_data['region'] == 'Europe']['country'].unique()

array(['Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan',
       'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg',
       'Malta', 'Moldova', 'Montenegro', 'Netherlands', 'North Macedonia',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'Serbia',
       'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
       'Turkey', 'Ukraine', 'United Kingdom'], dtype=object)

Найдите медианное значение продолжительности жизни ('life_exp') по региону 'Africa':

In [10]:
gapminder_data[gapminder_data['region'] == 'Africa'].life_exp.median()

64.7

Найдите страну с наибольшим количеством выбросов CO2 ('co2').

In [14]:
gapminder_data[gapminder_data['co2'] == gapminder_data['co2'].max()]['country']

139    Qatar
Name: country, dtype: object

In [15]:
gapminder_data.loc[gapminder_data['co2'].idxmax(), 'country']

'Qatar'

Создайте новый столбец 'income_category', который будет содержать значения 'low', 'medium' и 'high' в зависимости от уровня дохода ('income').

In [17]:
low = gapminder_data['income'].quantile([1/3]).values[0]
high = gapminder_data['income'].quantile([2/3]).values[0]
gapminder_data.loc[gapminder_data.income < low,'income_category'] = 'low'
gapminder_data.loc[gapminder_data.income > high,'income_category'] = 'high'
gapminder_data.loc[((gapminder_data.income > low) & (gapminder_data.income < high)),'income_category'] = 'medium'
gapminder_data.sample(40).sort_values('income')

,country,region,income,income_level,life_exp,co2,co2_change,population,income_category
154,Somalia,Africa,1.13,Level 1,57.9,0.0466,decrease,15.000,low
157,South Sudan,Africa,2.01,Level 1,63.0,0.1710,increase,11.000,low
173,Togo,Africa,2.06,Level 1,64.5,0.4340,increase,7.890,low
142,Rwanda,Africa,2.09,Level 1,68.3,0.0913,increase,12.300,low
89,Kiribati,Asia,2.29,Level 1,59.3,0.6010,decrease,0.116,low
170,Tanzania,Africa,2.59,Level 1,66.7,0.2220,increase,56.300,low
146,Senegal,Africa,3.31,Level 2,68.0,0.7390,increase,15.900,low
169,Tajikistan,Asia,3.42,Level 2,69.2,0.6030,increase,9.100,low
192,Zimbabwe,Africa,3.92,Level 2,60.6,0.8500,increase,14.400,low
28,Cambodia,Asia,4.16,Level 2,69.7,0.6400,increase,16.200,low
13,Bangladesh,Asia,4.44,Level 2,74.2,0.5310,increase,161.000,low
91,Kyrgyz Republic,Asia,5.13,Level 2,73.3,1.6000,increase,6.300,low
122,Nicaragua,Americas,5.73,Level 2,75.2,0.8620,increase,6.470,low
186,Uzbekistan,Asia,7.08,Level 2,68.1,2.8100,decrease,32.500,medium
114,Morocco,Africa,7.45,Level 2,73.1,1.8400,increase,36.000,medium
84,Jamaica,Americas,9.74,Level 3,76.3,2.7900,decrease,2.930,medium
86,Jordan,Asia,10.00,Level 3,77.9,2.4200,decrease,9.970,medium
117,Namibia,Africa,10.10,Level 3,64.7,1.7500,increase,2.450,medium
2,Algeria,Africa,11.60,Level 3,76.0,3.6900,increase,42.200,medium
162,St. Vincent and the Grenadines,Americas,12.50,Level 3,72.8,2.0300,decrease,0.110,medium
7,Armenia,Europe,12.70,Level 3,75.6,1.8900,decrease,2.950,medium
58,Fiji,Asia,13.80,Level 3,68.3,2.4100,increase,0.883,medium
36,Colombia,Americas,14.30,Level 3,80.1,1.9600,increase,49.700,medium
61,Gabon,Africa,14.70,Level 3,67.5,2.5300,decrease,2.120,medium
97,Libya,Africa,15.00,Level 3,75.7,8.0900,decrease,6.680,medium
67,Grenada,Americas,16.80,Level 3,73.2,2.4300,increase,0.111,medium
171,Thailand,Asia,18.10,Level 3,78.3,4.1500,increase,69.400,medium
103,Maldives,Asia,18.80,Level 3,79.0,2.9600,increase,0.516,medium
109,Mexico,Americas,19.90,Level 3,75.5,3.7900,decrease,126.000,medium
40,Costa Rica,Americas,20.70,Level 3,80.0,1.6100,decrease,5.000,high
113,Montenegro,Europe,20.70,Level 3,75.6,3.2000,decrease,0.628,high
6,Argentina,Americas,22.70,Level 3,76.5,4.4100,decrease,44.400,high
185,Uruguay,Americas,23.00,Level 3,77.5,2.0100,decrease,3.450,high
175,Trinidad and Tobago,Americas,26.30,Level 4,74.8,31.3000,decrease,1.390,high
177,Turkey,Europe,28.30,Level 4,78.1,5.2000,increase,82.300,high
137,Poland,Europe,31.70,Level 4,78.0,9.0700,increase,37.900,high
152,Slovenia,Europe,38.00,Level 4,81.4,6.9500,decrease,2.080,high
158,Spain,Europe,40.30,Level 4,83.1,5.7500,decrease,46.700,high
156,South Korea,Asia,42.00,Level 4,82.9,12.9000,increase,51.200,high
60,France,Europe,45.30,Level 4,82.9,5.2000,decrease,65.000,high

In [18]:
q_low = gapminder_data['income'].quantile(0.38)
q_hight = gapminder_data['income'].quantile(0.62)

gapminder_data['income_category'] = 'medium'
gapminder_data.loc[gapminder_data['income'] < q_low, 'income_category'] = 'low'
gapminder_data.loc[gapminder_data['income'] > q_hight, 'income_category'] = 'high'
display(gapminder_data)

,country,region,income,income_level,life_exp,co2,co2_change,population,income_category
0,Afghanistan,Asia,2.03,Level 1,62.7,0.254,increase,37.200,low
1,Albania,Europe,13.30,Level 3,78.4,1.590,increase,2.880,medium
2,Algeria,Africa,11.60,Level 3,76.0,3.690,increase,42.200,medium
3,Andorra,Europe,58.30,Level 4,82.1,6.120,decrease,0.077,high
4,Angola,Africa,6.93,Level 2,64.6,1.120,decrease,30.800,low
...,...,...,...,...,...,...,...,...,...
188,Venezuela,Americas,12.40,Level 3,75.4,4.810,decrease,28.900,medium
189,Vietnam,Asia,7.59,Level 2,74.3,2.160,increase,95.500,low
190,Yemen,Asia,2.66,Level 2,66.1,0.356,decrease,28.500,low
191,Zambia,Africa,3.52,Level 2,62.5,0.302,increase,17.400,low
192,Zimbabwe,Africa,3.92,Level 2,60.6,0.850,increase,14.400,low

In [19]:
gapminder_data['income_category'] = pd.cut(gapminder_data['income'],
    bins=[0, 30, 70, 100],
    labels=['low', 'medium', 'high'],
    include_lowest=True)

In [20]:
gapminder_data

,country,region,income,income_level,life_exp,co2,co2_change,population,income_category
0,Afghanistan,Asia,2.03,Level 1,62.7,0.254,increase,37.200,low
1,Albania,Europe,13.30,Level 3,78.4,1.590,increase,2.880,low
2,Algeria,Africa,11.60,Level 3,76.0,3.690,increase,42.200,low
3,Andorra,Europe,58.30,Level 4,82.1,6.120,decrease,0.077,medium
4,Angola,Africa,6.93,Level 2,64.6,1.120,decrease,30.800,low
...,...,...,...,...,...,...,...,...,...
188,Venezuela,Americas,12.40,Level 3,75.4,4.810,decrease,28.900,low
189,Vietnam,Asia,7.59,Level 2,74.3,2.160,increase,95.500,low
190,Yemen,Asia,2.66,Level 2,66.1,0.356,decrease,28.500,low
191,Zambia,Africa,3.52,Level 2,62.5,0.302,increase,17.400,low
192,Zimbabwe,Africa,3.92,Level 2,60.6,0.850,increase,14.400,low

Посчитайте общее население (`population`) по региону `Americas`:

In [21]:
gapminder_data[gapminder_data['region'] == 'Americas']['population'].sum()

1000.9243