### Анализ тональности обзоров ресторанов

### Импорт данных и подключение библиотек

In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv('Restaurant reviews.csv')
print(df.shape)

(10000, 8)

In [18]:
df.head()

        Restaurant              Reviewer  ... Pictures    7514
0  Beyond Flavours     Rusha Chakraborty  ...        0  2447.0
1  Beyond Flavours  Anusha Tirumalaneedi  ...        0     NaN
2  Beyond Flavours       Ashok Shekhawat  ...        0     NaN
3  Beyond Flavours        Swapnil Sarkar  ...        0     NaN
4  Beyond Flavours                Dileep  ...        0     NaN

[5 rows x 8 columns]

### Очистка данных

In [19]:
df = df.drop(['Restaurant', 'Reviewer', 'Metadata', 'Time', 'Pictures', '7514'], axis=1)
df.head()

                                              Review Rating
0  The ambience was good, food was quite good . h...      5
1  Ambience is too good for a pleasant evening. S...      5
2  A must try.. great food great ambience. Thnx f...      5
3  Soumen das and Arun was a great guy. Only beca...      5
4  Food is good.we ordered Kodi drumsticks and ba...      5

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  9955 non-null   object
 1   Rating  9962 non-null   object
dtypes: object(2)
memory usage: 156.4+ KB

In [21]:
df = df.dropna()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9955 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  9955 non-null   object
 1   Rating  9955 non-null   object
dtypes: object(2)
memory usage: 233.3+ KB

### Работа с рейтингом

In [23]:
df['Rating'].unique()

array(['5', '4', '1', '3', '2', '3.5', '4.5', '2.5', '1.5', 'Like'],
      dtype=object)

In [24]:
df['Rating'].isna().sum()

0

In [25]:
df['Rating'].value_counts()

Rating
5       3826
4       2373
1       1735
3       1192
2        684
4.5       69
3.5       47
2.5       19
1.5        9
Like       1
Name: count, dtype: int64

In [26]:
df['Rating'] = np.where(df['Rating'] == 'Like', df['Rating'].value_counts().idxmax(), df['Rating'])

In [27]:
df['Rating'].value_counts()

Rating
5      3827
4      2373
1      1735
3      1192
2       684
4.5      69
3.5      47
2.5      19
1.5       9
Name: count, dtype: int64

In [28]:
df['Rating'] = list(map(lambda data: float(data)>= 4, df['Rating']))
df['Rating'].unique()

array([ True, False])